

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span7">
          <div class="ideas" id="idea-container">
            <%=render @ideas %>
          </div>
          <%= will_paginate @ideas %>
        </div>

        <div class="span4" style="background-color:grey; box-shadow: 10px 10px 5px #888888; border: 1px solid black; border-radius:10px;">
          <h3 style=" border-bottom: 1px solid #EEE;">Live Ideas</h3>
          <p>Andouille flank brisket shankle meatball pork belly. Pancetta prosciutto chuck meatball, meatloaf beef biltong. Rump t-bone fatback pork belly filet mignon. Capicola corned beef pork loin, leberkas meatloaf shoulder andouille. Fatback beef ribs strip steak andouille meatball boudin prosciutto rump salami sirloin bresaola filet mignon chuck leberkas shankle. Ball tip rump tri-tip beef short loin corned beef, kielbasa hamburger ham spare ribs. Turkey prosciutto flank fatback venison andouille turducken boudin strip steak bresaola drumstick t-bone ground round filet mignon.</p>

          <p>Pork loin fatback salami pig swine shankle tongue sausage boudin strip steak pork chop ham. T-bone fatback pancetta ball tip ribeye, sirloin tail cow venison. Ball tip swine kielbasa filet mignon drumstick venison tenderloin fatback strip steak hamburger leberkas frankfurter bresaola. Chicken swine bresaola, pastrami beef ribs capicola pancetta venison.</p>

        </div>
      </div>
    </div>
  </div>
</div>












