<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span7">
          <div class="ideas" id="idea-container">
            <%=render @ideas %>
          </div>
          <%= will_paginate @ideas %>
        </div>

        <div class="span4" style="background-color:grey; box-shadow: 10px 10px 5px #888888; border: 1px solid black; border-radius:10px;">
          <h3 style=" border-bottom: 1px solid #EEE;">Search by Tag</h3><input id="indexTagText" type="text" name="indexTag"><button class="btn btn-small" id="indexTagSearchButton">Search</button>
          <div id="indexTagIdeas"></div>
        </div>
      </div>
    </div>
  </div>
</div>












