<h1>Listing ideas</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1 style="background-color:yellow;">Andouille flank brisket shankle meatball pork belly. Pancetta prosciutto chuck meatball, meatloaf</h1>
      <div class="row-fluid">
        <div class="span7">
           <% @ideas.each do |idea| %>
            <div class="row-fluid">
              <div class="span12" style="background-color:grey; box-shadow: 10px 10px 5px #888888; border: 1px solid black; border-radius:10px;">
                <h2 style=" border-bottom: 1px solid #EEE; ">This is Idea Number:<%=idea.title%></h2>
                  <p><%=idea.content%></p>
                  <p><%=idea.tag%></p>
                  <div id="comment1">
                    <div class="row-fluid">
                      <div class="span8 offset4" style="background-color:white;">
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <small>idea.comment_id<cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  <div id="comment2">
                    <div class="row-fluid">
                      <div class="span8 offset4" style="background-color:white;">
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <% end %>
            <div class="row-fluid">
              <div class="span12"></div>
            </div>
            <div class="row-fluid">
              <div class="span12" style="background-color:grey; box-shadow: 10px 10px 5px #888888; border: 1px solid black; border-radius:10px;">
                <h2 style="border-bottom: 1px solid #EEE;">Idea 2</h2>
                  <p>Filet mignon shoulder swine, kielbasa ribeye capicola sausage hamburger pork chop tri-tip meatball corned beef. Pork filet mignon biltong cow, turducken short loin tenderloin beef. Capicola shoulder pastrami prosciutto. Turkey pastrami pig tail sirloin. Prosciutto frankfurter pork chop, pork hamburger pancetta meatloaf. Pancetta rump tail shoulder salami doner. Frankfurter tri-tip jerky swine fatback brisket ribeye drumstick boudin.</p>
                   <div id="comment2">
                      <div class="row-fluid">
                          <div class="span8 offset4" style="background-color:white;">
                            <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                          </div>
                      </div>

                    </div>
                      <div id="comment2">
                         <div class="row-fluid">
                           <div class="span12"></div>
                       </div>
                      <div class="row-fluid">
                          <div class="span8 offset4" style="background-color:white;">
                              <h5>Add a comment</h5>
                              <textarea rows="3"></textarea>
                              <p></p>
                              <button class="btn btn-mini" type="button">add comment</button>
                          </div>
                      </div>

                    </div>
              </div>
            </div>
        </div>
        <div class="span4" style="background-color:grey; box-shadow: 10px 10px 5px #888888; border: 1px solid black; border-radius:10px;">
          <h3 style=" border-bottom: 1px solid #EEE;">Live Ideas</h3>
          <p>Andouille flank brisket shankle meatball pork belly. Pancetta prosciutto chuck meatball, meatloaf beef biltong. Rump t-bone fatback pork belly filet mignon. Capicola corned beef pork loin, leberkas meatloaf shoulder andouille. Fatback beef ribs strip steak andouille meatball boudin prosciutto rump salami sirloin bresaola filet mignon chuck leberkas shankle. Ball tip rump tri-tip beef short loin corned beef, kielbasa hamburger ham spare ribs. Turkey prosciutto flank fatback venison andouille turducken boudin strip steak bresaola drumstick t-bone ground round filet mignon.</p>

          <p>Pork loin fatback salami pig swine shankle tongue sausage boudin strip steak pork chop ham. T-bone fatback pancetta ball tip ribeye, sirloin tail cow venison. Ball tip swine kielbasa filet mignon drumstick venison tenderloin fatback strip steak hamburger leberkas frankfurter bresaola. Chicken swine bresaola, pastrami beef ribs capicola pancetta venison.</p>

        </div>
      </div>
    </div>
  </div>
</div>