<h3>New Idea</h3>

<div id="ideaInputForm" class="ideaInputForm">
  Title: <input id="title" type="text" name="title"></br>
  Content: <input id="content" type="text" name="content"></br>
  Tag: <input id="tag" type="text" name="tag">
  <button id="submitButton">submit</button>
</div>

