<div class="row-fluid">
  <div class="span10">
    <h3 style="margin-left: 35%">New Idea</h3>

    <div id="ideaInputForm" class="ideaInputForm" style="margin-left:20%;">
      Title:   <input id="title" type="text" name="title" style="margin-left: 9%;"></br>
      Content: <textarea rows="4" id="content" type="text" name="content" style = "margin-left:4%;" ></textarea></br>
      Tag:     <input id="tag" class="input-small" type="text" name="tag" style="margin-left: 10%;">
      Idea: <input id="idea" type="radio" name="idea">
      Project:<input id="project" type="radio" name="project">
      <button class="btn btn-small" id="submitButton">submit</button>
      <p id="project-input">Github URL:<input id="github-url" name="github-url" type="text" placeholder="http://"></p>
    </div>
  </div>
</div>
