<div class="row-fluid">
  <div class="span10">
    <h3 style="margin-left: 35%">New Idea</h3>

    <div id="ideaInputForm" class="ideaInputForm" style="margin-left:20%;">
      Title:   <input id="title" type="text" name="title" style="margin-left: 7%;"></br>
      Content: <input id="content" type="text" name="content" style = "margin-left:2%;"></br>
      Tag:     <input id="tag" class="input-small" type="text" name="tag" style="margin-left: 8%;">
      <button class="btn btn-small" id="submitButton">submit</button>
    </div>
  </div>
</div>
