<% @tag.first.ideas.each do |idea| %>
  var div = '<div></div>';
  var ul = '<ul></ul>';
  var li = '<li>'+'<%= idea.title %>'+'</li>';
  $('#tagSearchBox').append(div).append(ul).append(li);
<% end %>