

#top-ideas{
 /*Specify Width*/
border: 1px solid black; /*Add 1px solid border, use any color you want*/
}

.ideaInputForm{
  float:left;
}

.userIdeaClass{
  float:left;
}

.tagSearchBox{
  float:left;
}

#userTags{
  float: right;
}

#myVotes{
  float: right;
  margin-right: 200px;
}