

#top-ideas{
 /*Specify Width*/
border: 1px solid black; /*Add 1px solid border, use any color you want*/
}

.pagination {
  background: white;
  cursor: default;
  height: 22px;
  }
  .pagination a,
  .pagination span,
  .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  .paginatio a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }

.ideaInputForm{
  float:left;
}

.userIdeaClass{
  float:left;
}


.tagSearchBox{
  float:right;
  margin-right: 100px;
}






