#Idea-Box{

  padding: 10px;
}


#top-ideas{
 /*Specify Width*/
border: 1px solid black; /*Add 1px solid border, use any color you want*/
}

.pagination {
background: white;
cursor: default;
height: 22px;
}
.pagination a,
.pagination span,
.pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
.current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}


.ideaInputForm{
  float:left;
}

.userIdeaClass{
  float:left;
}


.tagSearchBox{
  float:left;
}

#userTags{
  float: right;
}

#myVotes{
  float: right;
  margin-right: 200px;
}

#commentBox{
  border-color:black;
}

ul{
  list-style-type: none;
}

ul li{
list-style-type: none;
}

#idea-container.span10:hover {
  background-color: #0099FF;
  cursor: pointer;
}


.profileCommentButton {
  background:url(arrow_down.png) no-repeat center center;
  border: none;  /* If your icon IS the button */
  color: transparent;  /* If you don't want the button text to show up */
  height: 32px;
  width: 32px;
}
.profileCommentButton:hover {
  background-color: #0099FF;
}

#userIdeaTitle {
font-size: 2.5rem;
margin-bottom: 1.5rem;
line-height: 1.25;
}


.indexCommentButton {
  background:url(arrow_down.png) no-repeat center center;
  border: none;  /* If your icon IS the button */
  color: transparent;  /* If you don't want the button text to show up */
  height: 32px;
  width: 32px;
  background-color: #F2F2F2;
}

.indexCommentButton:hover {
  background-color: #0099FF;
}
